#menu {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
}
.navbar {
    background: rgba(26, 25, 25, 0.1);
    transition: all 0.6s;
    margin: 0;
    padding: 2px;
  }
 
 .navbar.active{
  background: rgb(127, 103, 140);
  transition: all 0.8s;
  color: #000;
  -webkit-box-shadow: 0px 6px 14px 1px rgba(28,28,28,0.81); 
box-shadow: 0px 6px 14px 1px rgba(28,28,28,0.81);
 }
 
  #menu .navs  {
    margin-left:  53%;
  }
 
  #menu .single-nav {
   color: #fff;
  }
  
  #menu .navbar-button {
    background-color: rgb(163, 68, 163);
    border: 1px solid rgb(179, 116, 179);
  }